<!DOCTYPE html>
<!-- 타임리프 템플릿을 사용할 것이라는 것을 명시 -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Spring Boot Thymeleaf</title>
</head>
<body>
<!--------------- Thymeleaf 문법: 변수 표현식 --------------->
<!-- 문자열 "Syntax: "와 서버(모델)에서 전달된 syntax 변수 값을 연결하여 <p>태그에 삽입 -->
<p th:text="'Syntax: ' + ${syntax}"></p>
<p th:text="'File: ' + ${file}"></p>
<p th:text="'Application: ' + ${app}"></p>
<!-- <p th:text="'Name: ' + ${name}"></p> -->
<!-- <p th:text="'Text: ' + ${text}"></p> -->

<!--------------- Thymeleaf 문법: 선택 변수 표현식 --------------->
<!-- user 객체를 사용하는 div -->
<div th:object="${user}">
    <!-- *{} 문법을 사용하여 user 객체의 속성에 직접 접근 -->
    <p>이름: <span th:text="*{username}"></span></p> <!-- user.username 출력 -->
    <p>이메일: <span th:text="*{email}"></span></p> <!-- user.email 출력 -->
    <p>나이: <span th:text="*{age}"></span></p> <!-- user.age 출력 -->
</div>

<!--------------- Thymeleaf 문법: 조건문 --------------->
<!-- 조건부 렌더링을 위한 div -->
<div th:object="${user}">
    <!-- th:if를 사용하여 user.age가 30 이상일 때 아래의 문장을 표시 -->
    <p th:if="${user.age >= 30}">해당 유저는 30세 이상입니다.</p>
    <!-- th:unless를 사용하여 user.age가 30 미만일 때 아래의 문장을 표시 -->
    <p th:unless="${user.age >= 30}">해당 유저는 30세 미만입니다.</p>
</div>

<!--------------- Thymeleaf 문법: 반복문 --------------->
<ul th:each="item : ${iterData}">
    <li th:text="${item}"></li>
</ul>
</body>
</html>